<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<html>
<body>
  <div id="wrapper">
    <div id="header">
      <center>	
      <h1>About Us</h1>
      </center>	
    </div>
    <div id="content">
<h3>"Some Company Name" was founded in 2016 with a simple belief:  Whatever service or product that
I'm hwaking to you should come with quality for a good price, which is basically what every single
company that's trying to sell you something says.  And we're just like them!  We started as a small
one person outfit, and continue to be just that!  Someday we'll grow to have more employees so we can
perform our services faster/create our products quicker, but probably not.</h3>
    </div>
	<div id="footer">

    </div>
  </div>
</body>
<br>
<br>
</html>