<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Please don't hesitate to contact us with any questions or concerns!</h1>
<body>
<br>

<h3>Christopher Booye</h3>
christopher.booye@overwatchstore.com<br>
609-135-2468
<br>
<br>
<h3>Danielle Michelotti</h3>
danielle.michelotti@overwatchstore.com<br>
609-246-1357

</body>
</html>
