<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<body>

<h1>Please stop in and visit our brick and mortar locations!</h1>
<br>

<table>
<tr>
<td>
<b>100 Forsyth Street NW<br>
Anytown, GA  08765
<br>
Phone: 147-287-5132</b>
<br>
M-F: 10AM-9PM<br>
Sat: 9AM-10PM<br>
Sun: 11AM-5PM
</td>
<td>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= image_tag("FirstMap.jpg", :size => "640x480") %>
</td>
</tr>
<br>
<br>
<tr>
<td>
<b>108 Baltimore Pike<br>
Springfield, PA  09876
<br>
Phone: 856-222-3456</b>
<br>
M-F: 10AM-9PM<br>
Sat: 9AM-10PM<br>
Sun: 11AM-5PM
</td>
<td>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= image_tag("SecondMap.jpg", :size => "640x480") %>
</td>
</tr>
</table>
</body>
</html>
