<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<html>
<body>
  <div id="wrapper">
    <div id="header">
      <center>	
      <h1>Terms of Service</h1>
      </center>	
    </div>
    <div id="content">
I don't really know what goes in a terms of service page because I'm not a lawyer but it looks like hundreds and thousands
of words so I'm just putting this in here for now.
    </div>
	<div id="footer">

    </div>
  </div>
</body>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
</html>